<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>

<div class="lp-wrapper">
  <tech-become-customer class="lp-aside"></tech-become-customer>

  <div class="lp-form">
    <img
      class="logo"
      src="assets/pictures/Atotech_Logo.png"
      alt="Atotech Logo"
    />

    <div class="form-wrapper">
      <h4 class="form-title">
        {{ "techTranslation.resetPassword.title" | cxTranslate }}
      </h4>

      <p class="form-text">
        {{ "techTranslation.resetPassword.text" | cxTranslate }}
      </p>

      <form
        *ngIf="token$ | async as token"
        (ngSubmit)="onSubmit(token)"
        [formGroup]="form"
        class="form"
      >

        <tech-password
          [parentForm]="form"
          [controlName]="'password'"
        ></tech-password>

        <button class="btn btn-block btn-primary" [disabled]="form.disabled">
          {{ "techTranslation.resetPassword.button" | cxTranslate }}
          <i class="icon-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>
</div>
