<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>

<div class="lp-wrapper">
  <tech-become-customer class="lp-aside"></tech-become-customer>

  <div class="lp-form">
    <img
      class="logo"
      src="assets/pictures/Atotech_Logo.png"
      alt="Atotech Logo"
    />

    <div class="form-wrapper">
      <h4 class="form-title title-reset">
        {{ "techTranslation.forgotPassword.resetTitle" | cxTranslate }}
      </h4>

      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
        <label class="form-control-wrapper">
          <span *ngIf="form.controls.userEmail.value" class="label-content">{{
            "forgottenPassword.emailAddress.label" | cxTranslate
          }}</span>
          <input
            type="email"
            class="form-control"
            placeholder="{{
              'forgottenPassword.emailAddress.placeholder' | cxTranslate
            }}"
            formControlName="userEmail"
          />
          <cx-form-errors [control]="form.get('userEmail')"></cx-form-errors>
        </label>

        <div class="form-actions">
          <button class="btn btn-block btn-primary btn-arrow-right" [disabled]="form.disabled">
            {{ "techTranslation.forgotPassword.reset" | cxTranslate }} <i class="icon-arrow-right"></i>
          </button>
          <a
            class="btn-link"
            [routerLink]="{ cxRoute: 'login' } | cxUrl"
            >{{ "techTranslation.forgotPassword.cancel" | cxTranslate }}</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
