<label [formGroup]="parentForm" class="form-control-wrapper">
  <span *ngIf="parentForm.controls[controlName].value" class="label-content">{{
    "loginForm.password.label" | cxTranslate
  }}</span>

  <span class="password-wrapper">
    <input
      [type]="isPasswordShown ? 'text' : 'password'"
      class="form-control"
      placeholder="{{ 'loginForm.password.placeholder' | cxTranslate }}"
      [formControlName]="controlName"
    />

    <span class="password-toggle">
      <i
        [ngClass]="{
          'icon-eye-closed': !isPasswordShown,
          'icon-eye-open': isPasswordShown
        }"
        (click)="togglePasswordVisibility()"
      ></i>
    </span>
  </span>

  <cx-form-errors [control]="parentForm.get(controlName)"></cx-form-errors>
</label>
