@import "./../../../../../../styles/mixins";

.form-control-wrapper {
  margin-bottom: 20px;
}

.password {
  &-wrapper {
    position: relative;
    display: block;

    .form-control {
      padding-right: 20px;
    }
  }

  &-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;

    .icon-eye-open:before {
      @include fontello-icon("\e800", 16px);
    }

    .icon-eye-closed:before {
      @include fontello-icon("\e802", 16px);
    }
  }
}
