<div class="lp-wrapper">
  <tech-become-customer class="lp-aside"></tech-become-customer>

  <div class="lp-form">
    <img
      class="logo"
      src="assets/pictures/Atotech_Logo.png"
      alt="Atotech Logo"
    />

    <div class="form-wrapper">
      <h4 id="fps-title" class="form-title">
        {{ "techTranslation.forgotPasswordSuccess.title" | cxTranslate }}
      </h4>

      <p class="form-text">
        {{ "techTranslation.forgotPasswordSuccess.text" | cxTranslate }}
      </p>

      <div class="form">
        <div class="form-actions">
          <a
            [routerLink]="{ cxRoute: 'login' } | cxUrl"
            id="fps-button"
            class="btn-link"
          >
            <i class="icon-arrow-left"></i>
            {{ "techTranslation.forgotPasswordSuccess.button" | cxTranslate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
