// DEFAULT COLORS
$tech-light-blue: #5992D6;
$tech-middle-blue: #395D7F;
$tech-dark-blue: #3F5069;
$tech-red: #DD4A4A;
$tech-light-grey: #A4A4AF;
$tech-dark-grey: #6C6C78;
$tech-graphite-grey: #23282D;
$tech-dimmed-white: #F6F6F6;

// RESOLUTIONS
$resolution-laptop: 1366px;
$resolution-tablet: 1024px;
$resolution-tablet__small: 768px;
$resolution-mobile: 425px;
$resolution-mobile__small: 320px;
$resolution-mobile-landscape: 1000px;

$header-height-mobile: 57px;
$header-height-laptop: 75px;
$header-height-desktop: 220px;
